@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
	.profile-head h3 {
		color: #333;
	}
    
</style>


@await Html.PartialAsync("_HeadPartial")

<body>
	<div class="container">
		<div class="row">
            <div class="col-2 ">
                <div class="row" id="userPic">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                         alt="user">
                    <span class="row">
                        UserAccount
                    </span>
                </div>
                @await Html.PartialAsync("_SideBarPartial")
            </div>
            <div class="col-10" id="mainPage">
                <div class="container emp-profile" style="background-color:transparent">
                    <form method="post">
                        <div class="row">

                        </div>
                        <div class="row notification-container">
                            <div class="divider__line"></div>
                            <h2 class="text-center" style="font-weight: 900;">我的通知</h2>
                            <div class="divider__line"></div>
                            <p class="dismiss text-right"><a id="dismiss-all" href="#" class="btn btn-dark">刪除全部</a></p>
                            <div class="card notification-card notification-invitation">
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <td style="width:80%">
                                                <div class="card-title">
                                                    Jane invited you to join '<b>Familia</b>' group
                                                </div>
                                            </td>
                                            <td style="width:20%;position: absolute;right: 0%;">
                                                <a href="#" class="btn btn-outline-dark dismiss-notification">刪除</a>
                                                <a href="#" class="btn btn-outline-danger ">查看</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="card notification-card notification-warning">
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <td style="width:80%">
                                                <div class="card-title">
                                                    Your expenses for '<b>Groceries</b>' has
                                                    exceeded its budget
                                                </div>
                                            </td>
                                            <td style="width:20%;position: absolute;right: 0%;">
                                                <a href="#" class="btn btn-outline-dark dismiss-notification">刪除</a>
                                                <a href="#" class="btn btn-outline-danger ">查看</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="card notification-card notification-danger">
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <td style="width:80%">
                                                <div class="card-title">
                                                    Insufficient budget to create '<b>Clothing</b>'
                                                    budget category
                                                </div>
                                            </td>
                                            <td style="width:20%;position: absolute;right: 0%;">
                                                <a href="#" class="btn btn-outline-dark  dismiss-notification">刪除</a>
                                                <a href="#" class="btn btn-outline-danger">查看</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="card notification-card notification-reminder">
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <td style="width:80%">
                                                <div class="card-title">
                                                    You have <b>2</b> upcoming payment(s) this week
                                                </div>
                                            </td>
                                            <td style="width:20%;position: absolute;right: 0%;">
                                                <a href="#" class="btn btn-outline-dark dismiss-notification">刪除</a>
                                                <a href="#" class="btn btn-outline-danger ">查看</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>

            </div>
		</div>
       
	</div>
<script src="~/js/CsMember/notification.js"></script>
<script src="~/js/CsMember/profile.js"></script>


</body>