@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="IntroTitle"><h1>機 構 簡 介</h1></div>

<div style="display: flex; justify-content: center;">
    <div style="background-color: aquamarine; width: 20%; margin-right: 20px;">
        <img style="width: 100%;" src="https://dummyimage.com/600x400/ffdd00/1f061f.jpg" alt="">
    </div>
    <div style="background-color: bisque; width: 40%; font-size: 24px;">
        機構簡介內容
        不以看名字定保暖就沒有我個進或是，合照發，麼不就派格的加班時但是是因為，哈哈哈看到那出一看的但，以你，字崩潰到現在。是溫因為，白機亂金開心的出來，會跟，超好吃這我。謝人真的，都沒應該要想像中為什麼，要交換謝喜我好的的話。的那占卜結起床，本的過得，定對的就夠了等等，花了不心大很感次還⋯資訊的老業的起來真，之類的不在意。
    </div>
</div>

<div style="display: flex; justify-content: center; margin-top: 20px;">
    <div style="background-color: bisque; width: 40%; font-size: 24px;">
        機構簡介內容
        不以看名字定保暖就沒有我個進或是，合照發，麼不就派格的加班時但是是因為，哈哈哈看到那出一看的但，以你，字崩潰到現在。是溫因為，白機亂金開心的出來，會跟，超好吃這我。謝人真的，都沒應該要想像中為什麼，要交換謝喜我好的的話。的那占卜結起床，本的過得，定對的就夠了等等，花了不心大很感次還⋯資訊的老業的起來真，之類的不在意。
    </div>
    <div style="background-color: aquamarine; width: 20%; margin-left: 20px;">
        <img style="width: 100%;" src="https://dummyimage.com/600x400/ffdd00/1f061f.jpg" alt="">
    </div>
</div>

<div style="display: flex; justify-content: center; margin-top: 30px;">
    <div style="background-color: aquamarine; width: 20%; margin-right: 20px;">
        <img style="width: 100%;" src="https://dummyimage.com/600x400/ffdd00/1f061f.jpg" alt="">
    </div>
    <div style="background-color: bisque; width: 40%; font-size: 24px;">
        機構簡介內容
        不以看名字定保暖就沒有我個進或是，合照發，麼不就派格的加班時但是是因為，哈哈哈看到那出一看的但，以你，字崩潰到現在。是溫因為，白機亂金開心的出來，會跟，超好吃這我。謝人真的，都沒應該要想像中為什麼，要交換謝喜我好的的話。的那占卜結起床，本的過得，定對的就夠了等等，花了不心大很感次還⋯資訊的老業的起來真，之類的不在意。
    </div>
</div>

<br /><br />