@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="IntroTitle"><h1>機 構 簡 介</h1></div>

<div style="display: flex; justify-content: center; align-items: center">
    <div style="width: 30%; margin-right: 20px;">
        <img style="width: 100%" src="~/img/AboutUs/pic1.png" alt="">
    </div>
    <div style="width: 40%; font-size: 24px;">
        Take Care長照機構是一家致力於提供卓越居家照顧、社區式日間照顧和喘息照顧服務的機構。
        我們的使命是關懷、支持和改善需要長期照護的個人生活品質。
        無論您是年長者、身心障礙者還是有特殊醫療需求的人，
        Take Care長照機構都致力於為您提供最佳的護理和支援。
    
    </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <div style="width: 40%; font-size: 24px;">
        我們的官方網站提供方便的預約服務，以確保您能輕鬆安排長照服務。
        您可以方便快捷地預約 Take Care 長照機構的服務，並瞭解更多關於我們的服務項目和費用。
        我們期待能夠為您提供卓越的護理和支援，以改善照顧者與被照顧者的生活品質。
    </div>
    <div style="width: 30%; margin-left: 20px;">
        <img style="width: 100%;" src="~/img/AboutUs/pic2.png" alt="">
    </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">
    <div style="width: 30%; margin-right: 20px;">
        <img style="width: 100%;" src="~/img/AboutUs/pic3.png" alt="">
    </div>
    <div style="width: 40%; font-size: 24px;">
        我們尊重每個個體的尊嚴和特殊需求，並總是以關懷和同理心對待他們。
        我們的團隊成員都具有優秀的專業知識和經驗，以確保提供高品質的照護和支援。
        如果您對 Take Care 長照機構的服務感興趣，或者有任何疑問，
        我們的客戶服務團隊隨時為您提供協助。
    </div>
</div>

<br /><br />