@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

	<div>
		<label>性別</label>
	</div>
	<div class="custom-container">
		<div class="row">
			<div class="card col">
				<img src="~/img/Staff/F01.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">霍元甲ABC</h5>
					<p class="card-text">
						女性<br>3年照服經驗

					</p>
					<a href="#" class="btn btn-primary">詳細介紹</a>
				</div>
			</div>

			<div class="card col">
			<img src="~/img/img_Peter/F2.png" class="card-img-top" alt="..." style="width: 100%; background-color: cornflowerblue;">
				<div class="card-body">
					<h5 class="card-title">霍元甲2</h5>
					<p class="card-text">
					女性<br>3年照服經驗
					</p>
				<a href="#" class="btn btn-primary">詳細介紹</a>
				</div>
			</div>

			<div class="card col">
			<img src="~/img/img_Peter/F3.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">霍元甲3</h5>
				<p class="card-text">
					女性<br>3年照服經驗 
					</p>
				<a href="#" class="btn btn-primary">詳細介紹</a>
				</div>
			</div>

			<div class="card col">
			<img src="~/img/img_Peter/F4.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">霍元甲4</h5>
					<p class="card-text">
					女性<br>3年照服經驗
					</p>
				<a href="#" class="btn btn-primary">詳細介紹</a>
				</div>
			</div>

			<div class="card col">
			<img src="~/img/img_Peter/F5.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">霍元甲4</h5>
					<p class="card-text">
					女性<br>3年照服經驗
					</p>
				<a href="#" class="btn btn-primary">詳細介紹</a>
				</div>
			</div>

		</div>
	</div>


