<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Take_Care</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Take_Care.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    @*<link rel="stylesheet" href="~/Views/MainPage/index.cshtml.css" />*@


</head>
<body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <header>
        <div class="container-fluid">
            <div class="row mynav">
                <nav class="navbar navbar-expand-lg">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <a class="navbar-brand myacolor" href="#" style="font-size: 35px; position:relative; left:220px;top:50px;">
                            TakeCare     
                        <img src="~/img/logo.png" class="myimg" style="height: 100px; width:200px;position:relative; right:140px ;bottom:70px">
						</a>
                       <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="col-5">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav" style="padding-left:120px">
                                <li class="nav-item myhover">
                                    <a class="nav-link active" aria-current="page" href="~/MainPage/index" style=" color:black">首頁</a>
                                </li>
                                <li class="nav-item dropdown myhover">
                                    <a class="nav-link dropdown-toggle myacolor" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        關於我們
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">機構簡介</a></li>
                                        <li><a class="dropdown-item" href="#">員工介紹</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown myhover">
                                    <a class="nav-link" href="~/Views/Fourpacks/index.cshtml" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        長照四包錢
                                    </a>
                                  @*  <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>*@
                                </li>
                                <li class="nav-item myhover">
                                    <a class="nav-link" href="#">試算表</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="padding-left:140px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                </a>
							</li>					
                            <div class="fontSize">
                                <button style="font-size: 10px;border: 0px; background-color: transparent; margin-left: 30px;"
                                        class="font jq-small">
                                    小
                                </button>
                                <button style="font-size: 15px;border: 0px; background-color: transparent; margin-left: 10px;"
                                        class="font jq-medium">
                                    中
                                </button>
                                <button style="font-size: 20px;border: 0px; background-color: transparent; margin-left: 10px;"
                                        class="font jq-large">
                                    大
                                </button>
                            </div>
                        </ul>
                    </div>
                </nav>
            </div> 
        </div>
    </header>


    <div class="" style="background-color:#dcd0c3">
        <main role="main">
            @RenderBody()
            @await Html.PartialAsync("_PartialName")
        </main>
    </div>
    <div class="container-fluid" style="background-color: #ADADAD;max-height: 100%;">
        <div class="wrapper">
            <div class="row">
                <div class="col myfooter pt-5 p-5">
                    <h3 class="myfont">關於我們</h3>
                    <h6 class="myfont"><a href="" class="mya" style="padding-left:10px;">機構簡介</a></h6>
                    <h6 class="myfont"><a href="" class="mya" style="padding-left:10px;">員工介紹</a></h6>
                </div>
                <div class="col myfooter" style="padding-top: 50px;">
                    <h3 class="myfont">會員中心</h3>
                    <h6><a href="" class="mya" style="padding-left:10px;">註冊區</a></h6>
                    <h6><a href="" class="mya" style="padding-left:10px;">登入區</a></h6>
                    <h6><a href="" class="mya" style="padding-left:10px;">遺忘帳號密碼</a></h6>
                </div>
                <div class="col myfooter pt-5 p-5">
                    <h3 class="myfont">客服</h3>
                    <h6 class="myfont"><a href="" class="mya" style="padding-left:10px;">聯繫我們</a></h6>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-9 myfont" style="padding-top: 40px;">
                    <span style="padding-left: 300px;">網站使用條例</span>
                    <span>隱私權聲明</span> <br>
                    <h6 style="padding-top: 20px;padding-left: 300px;">
                        Copyright © 2023 TakeCare. All rights
                        reserved.
                    </h6>
                    <h5 style="padding-left: 300px;padding-top: 20px;">地址:</h5>
                    <h6 style="padding-left: 300px;">台中市南屯區公益路二段51號18樓</h6>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
