@page
<button id="showChat"  class="button-45"> <i class="fa-brands fa-rocketchat"></i>
</button>
<div class="chatbox">
    <button type="button" class="btn-close" aria-label="Close" id="hideChat"></button>
    <div class="row p-1">
        <div class="col-6">
            <textarea id="messagesList" style="height:40vmin;width:80vmin; font-size: 28px" disabled></textarea>
        </div>
    </div>
    <div class="row p-1" style="border: #1e2125 solid 0.5px">
        <div class="col-2">User</div>
        <div class="col-5">
            <input type="text" id="userInput"/>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-2">Message</div>
        <div class="col-5">
            <input type="text" class="w-100" id="messageInput"/>
        </div>
        <div class="col-2">
            <input type="button" id="sendButton" value="Send Message" class="btn btn-outline-warning"/>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>