@model IEnumerable<Take_Care.Models.MemberView>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var list = TempData["Member"];
}
<h1 class="logintitle">Login</h1>
<div class="row">
    <div class="col-2"></div>
    <div class="leftBox col-4">
        <form method="post" action="~/login/index">
            <input type="email" id="email" placeholder="帳號 / Email" required class="inputBox" name="Account">
            <input type="password" id="password" placeholder="輸入密碼" required class="inputBox" name="Password">
            <div>
                <div>
                    <input type="checkbox" id="terms">
                    <label for="terms">記住我的帳號</label>
                </div>
                <div>
                    <span class="text-end">忘記密碼?</span>
                </div>
            </div>
            <!-- 给登入按鈕指定ID "loginButton" -->
            <button type="submit" id="loginButton">登入<span>&#x27f6;</span></button>
            @*<span class="login_msg">我還沒有帳號 ?<a href="./SignUp.html">SignUp Now</a></span>*@
        </form>
    </div>
    <div class="rightBox col-4">
        <a href="" class="fb_Link">
            <i class="fa-brands fa-facebook"></i> Login with Facebook
            <span></span><span></span><span></span><span></span>
        </a>
        <a href="" class="tw_Link">
            <i class="fa-brands fa-square-x-twitter"></i> Login with Twitter
            <span></span><span></span><span></span><span></span>
        </a>
        <a href="" class="g_Link">
            <i class="fa-brands fa-google"></i> Login with Google
            <span></span><span></span><span></span><span></span>
        </a>
    </div>
    <div class="col-2"></div>
    </div>
</div>