@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@await Html.PartialAsync("_HeadPartial")


<body>
	<div class="container">
		<div class="row">
			<div class="col-2 ">
				<div class="row" id="userPic" style="background-color: white">
					<img src="~/img/Staff/F01.png"
						 alt="user">
					<span class="row" style="margin-top: 10px">
						TC0001
					</span>
				</div>
				@await Html.PartialAsync("_SideBarPartial")
			</div>
			<div class="col-10" id="mainPage">
				<div class="container emp-profile" style="margin:0px">
					<form method="post">

						<div class="row">
							<!-- 服務歷史紀錄 -->
							<div class="col" id="">
								<div class="">
									<div>
										<div style="font-size: 40px; margin-top: 30px;">服務歷史紀錄</div>
										<div style="font-size: 30px;"></div>
										<hr>
									</div>
									<br>
									<!-- 用日期查詢紀錄 -->
									<div>
										<label style="font-size: 23px"><b>開始日期:</b></label>
										<input type="text" placeholder="YYYY-MM-DD" name="startdate" id="datepickerStart" style="width: 180px">
										&nbsp;&nbsp;

										<label style="font-size: 23px"><b>結束日期:</b></label>
										<input type="text" placeholder="YYYY-MM-DD" name="enddate" id="datepickerEnd" style="width: 180px">
										&nbsp;&nbsp;

										<button class="qbutton">查詢</button>


										
											<span style="font-size: 24px; float: right; margin-right: 60px;">
												<span id="moneyA" style="display: block">
												<b>金額合計: $<span>332</span></b>
											</span>
											<span id="moneyB" style="display: none">
												<b>金額合計: $<span>228</span></b>
											</span>
											</span>								

									</div>
									<!-- 表格 -->
									<div id="tableA" style="display: block">
										<table class="table table-bordered align-middle" style="margin-top: 40px;">
											<tr style="">
												<th style="background-color: burlywood;">編號</th>
												<th style="background-color: burlywood;">服務日期</th>
												<th style="background-color: burlywood;">服務時間</th>
												<th style="background-color: burlywood;">案主名稱</th>
												<th style="background-color: burlywood;">服務項目</th>
												<th style="background-color: burlywood;">服務金額</th>
											</tr>
											<tr>
												<td>1</td>
												<td>2023-09-30</td>
												<td>09點</td>
												<td>陳六</td>
												<td>基本身體清潔(日)</td>
												<td>$104</td>
											</tr>
											<tr>
												<td>2</td>
												<td>2023-10-21</td>
												<td>11點</td>
												<td>張三</td>
												<td>餐食照顧-備餐(一餐)</td>
												<td>$124</td>
											</tr>
											<tr>
												<td>3</td>
												<td>2023-10-24</td>
												<td>09點</td>
												<td>張三</td>
												<td>基本身體清潔(日)</td>
												<td>$104</td>
											</tr>
										</table>
									</div>

									<div id="tableB" style="display: none">
										<table class="table table-bordered align-middle" style="margin-top: 40px;">
											<tr style="">
												<th style="background-color: burlywood;">編號</th>
												<th style="background-color: burlywood;">服務日期</th>
												<th style="background-color: burlywood;">服務時間</th>
												<th style="background-color: burlywood;">案主名稱</th>
												<th style="background-color: burlywood;">服務項目</th>
												<th style="background-color: burlywood;">服務金額</th>
											</tr>

											<tr>
												<td>1</td>
												<td>2023-10-21</td>
												<td>11點</td>
												<td>張三</td>
												<td>餐食照顧-備餐(一餐)</td>
												<td>$124</td>
											</tr>
											<tr>
												<td>2</td>
												<td>2023-10-24</td>
												<td>09點</td>
												<td>張三</td>
												<td>基本身體清潔(日)</td>
												<td>$104</td>
											</tr>
										</table>
									</div>

								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="~/js/CsMember/jquery.twzipcode.min.js"></script>
	<script src="~/js/CsMember/getaddress.js"></script>
	<script src="~/js/CsMember/profile.js"></script>
	<script src="~/js/CsMember/Prev&Next.js"></script>
	<script src="~/js/CsMember/changeTabHref.js"></script>


	<script>

		$(function () {
			$("#datepickerStart, #datepickerEnd").datepicker({
				dateFormat: "yy-mm-dd"
			});
		});

		$("#twzipcode").twzipcode();
		$("#twzipcode2").twzipcode();
		$("#twzipcode3").twzipcode();
	</script>

	<script>
		// 获取查询按钮
		var queryButton = document.querySelector('.qbutton');

		// 添加点击事件处理程序到查询按钮
		queryButton.addEventListener('click', function () {

			event.preventDefault();
			// 获取表格A和表格B的元素

			var tableA = document.getElementById('tableA');
			var tableB = document.getElementById('tableB');

			// 使用 getComputedStyle 检查 tableA 的显示状态
			var computedStyle = window.getComputedStyle(tableA);

			if (computedStyle.display === 'block') {
				tableA.style.display = 'none';
				tableB.style.display = 'block';
			} else {
				tableA.style.display = 'block';
				tableB.style.display = 'none';
			}
			//
			var tableA = document.getElementById('moneyA');
			var tableB = document.getElementById('moneyB');

			var computedStyleA = window.getComputedStyle(moneyA);

			if (computedStyleA.display === 'block') {
				moneyA.style.display = 'none';
				moneyB.style.display = 'block';
			} else {
				moneyA.style.display = 'block';
				moneyB.style.display = 'none';
			}

		});
	</script>







	再生


	<script>
		//$(document).ready(function () {
		//    $.ajax({
		//        method: "GET",
		//        url: "https://localhost:7036/api/Cases",
		//        success: function(response){
		//            foreach
		//        },
		//        error: function(err){
		//            console.log(err);
		//        }
		//    });

		//下面先註解
		//    $.ajax({
		//        method: "GET",
		//        url: "https://localhost:7036/api/Employees",
		//        success: function (response) {
		//        const account = JSON.parse(sessionStorage.getItem('member')).account;

		//            console.log(response);
		//        response.forEach((data) => {
		//            if (data.account == account) {
		//                sessionStorage.setItem('id', JSON.stringify(data))
		//                console.log('有成功抓到資料');

		//            }
		//        });


		//        },
		//        error: function (err) {
		//            console.log(err);
		//        }
		//    })




		//$.ajax({
		//    type: 'get',
		//    url: 'https://localhost:7036/api/Cases',
		//    success: (data) => {
		//        console.log(data);
		//        var matchingCases = [];
		//        // 使用forEach遍历data数组
		//        data.forEach((item) => {
		//            //console.log(item)
		//            if (item.employeeId === JSON.parse(sessionStorage.getItem('id')).employeeId) {
		//                matchingCases.push(item)
		//                console.log('有成功抓到資料');
		//                console.log(item)
		//                sessionStorage.setItem('case', JSON.stringify(matchingCases))
		//            }
		//        });
		//    },
		//    error: (error) => {
		//        console.error('Error:', error);
		//    }
		//});


	</script>


</body>
