@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@await Html.PartialAsync("_HeadPartial")


<body>
    <div class="container">
        <div class="row">
            <div class="col-2 ">
                <div class="row" id="userPic" style="background-color: white">
                    <img src="~/img/Staff/F01.png"
                         alt="user">
                    <span class="row" style="margin-top: 10px">
                        TC0001
                    </span>
                </div>
                @await Html.PartialAsync("_SideBarPartial")
            </div>
            <div class="col-10" id="mainPage">
                <div class="container emp-profile" style="margin:0px">
                    <form method="post">                     

                        <div class="row">
                            <!-- 排程 -->
                            <div class="col" id="">
                                <div class="">
                                    <div>
                                        <div style="font-size: 40px; margin-top: 30px;">我的排程</div>
                                        <div style="font-size: 30px;"></div>
                                        <hr>
                                    </div>
                                    <br>
                                    <!-- 查詢紀錄 -->
                                    <div>
                                        <label style="font-size: 23px"><b>開始日期:</b></label>
                                        <input type="text" placeholder="YYYY-MM-DD" name="startdate" id="datepickerStart" style="width: 180px">
                                        &nbsp;&nbsp;

                                        <label style="font-size: 23px"><b>結束日期:</b></label>
                                        <input type="text" placeholder="YYYY-MM-DD" name="enddate" id="datepickerEnd" style="width: 180px">
                                        &nbsp;&nbsp;

                                        <button class="querybtn">查詢</button>
                                    </div>
                                    <!-- 表格X -->
                                    <div id="tableX" style="display: block">
                                        <table class="table table-bordered align-middle" style="margin-top: 40px;">
                                            <tr style="font-size: 19px;">
                                                <th style="background-color: burlywood;">服務日期</th>
                                                <th style="background-color: burlywood;">服務時間</th>
                                                <th style="background-color: burlywood;">服務項目</th>
                                                <th style="background-color: burlywood;">案主名稱</th>
                                                <th style="background-color: burlywood;">案主地址</th>
                                                <th style="background-color: burlywood;">備註</th>
                                                <th style="background-color: burlywood;">功能</th>
                                            </tr>
                                            <tr style="font-size: 19px;">
                                                <td>2023-11-05</td>
                                                <td>11:00</td>
                                                <td>餐食照顧-備餐(一餐)</td>
                                                <td>吳七</td>
                                                <td>臺中市西屯區龍富路3927號</td>
                                                <td></td>
                                                <td><button>取消</button></td>
                                            </tr>
                                            <tr style="font-size: 19px;">
                                                <td>2023-11-05</td>
                                                <td>14:00</td>
                                                <td>基本身體清潔(日)</td>
                                                <td>李四</td>
                                                <td>臺中市南屯區南屯路3266號</td>
                                                <td></td>
                                                <td><button>取消</button></td>
                                            </tr>
                                            <tr style="font-size: 19px;">
                                                <td>2023-11-06</td>
                                                <td>10:00</td>
                                                <td>基本日常照顧(30分鐘)</td>
                                                <td>李四</td>
                                                <td>臺中市南屯區南屯路3266號</td>
                                                <td></td>
                                                <td><button>取消</button></td>
                                            </tr>
                                            <tr style="font-size: 19px;">
                                                <td>2023-11-12</td>
                                                <td>13:00</td>
                                                <td>居家喘息(2小時，單日10小時上限)</td>
                                                <td>李四</td>
                                                <td>臺中市南屯區南屯路3266號</td>
                                                <td></td>
                                                <td><button class="cancel-button" data-row-id="1">取消</button></td>
                                            </tr>
                                            <tr style="font-size: 19px;">
                                                <td>2023-11-15</td>
                                                <td>08:00</td>
                                                <td>機構喘息(1日)</td>
                                                <td>李四</td>
                                                <td>臺中市南屯區南屯路3266號</td>
                                                <td></td>
                                                <td><button>取消</button></td>
                                            </tr>
                                        </table>
                                        </div>

                                        <!-- 表格Y -->
                                        <div id="tableY" style="display:none">
                                            <table class="table table-bordered align-middle" style="margin-top: 40px;">
                                                <tr style="font-size: 19px;">
                                                    <th style="background-color: burlywood;">服務日期</th>
                                                    <th style="background-color: burlywood;">服務時間</th>
                                                    <th style="background-color: burlywood;">服務項目</th>
                                                    <th style="background-color: burlywood;">案主名稱</th>
                                                    <th style="background-color: burlywood;">案主地址</th>
                                                    <th style="background-color: burlywood;">備註</th>
                                                    <th style="background-color: burlywood;">功能</th>
                                                </tr>
                                                <tr style="font-size: 19px;">
                                                    <td>2023-11-05</td>
                                                    <td>11:00</td>
                                                    <td>餐食照顧-備餐(一餐)</td>
                                                    <td>吳七</td>
                                                    <td>臺中市西屯區龍富路3927號</td>
                                                    <td></td>
                                                    <td><button>取消</button></td>
                                                </tr>
                                                <tr style="font-size: 19px;">
                                                    <td>2023-11-05</td>
                                                    <td>14:00</td>
                                                    <td>基本身體清潔(日)</td>
                                                    <td>李四</td>
                                                    <td>臺中市南屯區南屯路3266號</td>
                                                    <td></td>
                                                    <td><button>取消</button></td>
                                                </tr>
                                                
                                            </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/CsMember/jquery.twzipcode.min.js"></script>
    <script src="~/js/CsMember/getaddress.js"></script>
    <script src="~/js/CsMember/profile.js"></script>
    <script src="~/js/CsMember/Prev&Next.js"></script>
    <script src="~/js/CsMember/changeTabHref.js"></script>


    <script>

        $(function () {
            $("#datepickerStart, #datepickerEnd").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });

        $("#twzipcode").twzipcode();
        $("#twzipcode2").twzipcode();
        $("#twzipcode3").twzipcode();     

    </script>

    <script>
        // 获取查询按钮
        var queryButton = document.querySelector('.querybtn');

        // 添加点击事件处理程序到查询按钮
        queryButton.addEventListener('click', function () {

            event.preventDefault();
            // 获取表格A和表格B的元素

            var tableX = document.getElementById('tableX');
            var tableY = document.getElementById('tableY');

            // 使用 getComputedStyle 检查 tableA 的显示状态
            var computedStyle = window.getComputedStyle(tableX);

            if (computedStyle.display === 'block') {
                tableX.style.display = 'none';
                tableY.style.display = 'block';
            } else {
                tableX.style.display = 'block';
                tableY.style.display = 'none';
            }
            
        });

    </script>

    <script>
        // 获取所有"取消"按钮
        var cancelButtons = document.querySelectorAll('.cancel-button');

        // 为每个"取消"按钮添加点击事件处理程序
        cancelButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                // 找到"取消"按钮所在的行
                var row = button.parentElement.parentElement; 

                // 从DOM中删除行
                if (row) {
                    row.remove();
                }
            });
        });
    </script>



</body>
